*{
  margin: 0;
  padding: 0;
}
.index{
  width: 100%;
  height: 100%;
  background: url('../img/lot/pic_gy.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index .title{
  position: absolute;
  right: 9%;
  top: 5%;
  font-size: 50px;
  color: #e2a65e;
  background-image: -webkit-linear-gradient(bottom,#FBA826,#FFCC00,#FFDD73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index .title span{
  display: block;
  line-height: 1.2em;
}

.big-bnt{
  display: block;
  width: 210px;
  height: 40px;
  background: url('../img/lot/btn_big_pre.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #FFDE46;
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -105px;
}

.big-bnt:active{
  background: url('../img/lot/btn_big_nor.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
}

.lot-inside{
  width: 100%;
  height: 100%;
  background: url('../img/lot/bg.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-wrap{
  transition: all 0.4s;
  width: 35%;
  margin: 40px auto 0;
  display: inline-block;
  overflow: hidden;
  background: url('../img/lot/pic_pot.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
}

.bg-wrap-1{
  background: url('../img/lot/pic_pot2.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
}

.bg-wrap-2{
  background: url('../img/lot/pic_pot3.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
}

.lot-pot{
  display: block;
  width: 100%;
}

.bg-wrap-rotate{
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); 	/* IE 9 */
  -moz-transform:rotate(10deg); 	/* Firefox */
  -webkit-transform:rotate(10deg); /* Safari 和 Chrome */
  -o-transform:rotate(10deg); 	/* Opera */
}

.bg-wrap-rotate-1{
  transform:rotate(30deg);
  -ms-transform:rotate(30deg); 	/* IE 9 */
  -moz-transform:rotate(30deg); 	/* Firefox */
  -webkit-transform:rotate(30deg); /* Safari 和 Chrome */
  -o-transform:rotate(30deg); 	/* Opera */
}

.pic-temp{
  display: block;
  margin: 0 auto;
  width: 60%;
}

.tap{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.tap-title{
  position: absolute;
  height: 50px;
  width: 85px;
  text-align: center;
  background: url('../img/lot/bg_tag.png') no-repeat;
  background-size:100% 100%;
  background-position: center center;
  font-size: 14px;
  line-height: 34px;
  color: #372207;
  bottom: -16px;
  z-index: 1;
}

.tap-title:nth-child(1){
  left: 0;
}

.tap-title:nth-child(2){
  left: 90px;
}

.tap-title:nth-child(3){
  left: 180px;
}

.tap-title-c{
  bottom: -8px;
  font-weight: bold;
}

.tap-contai{
  width: 92%;
  min-height: 200px;
  margin: 0 auto;
  background: #D6BD93;
  background: url('../img/lot/ds.png') repeat;
  border-radius: 4px;
  box-shadow:rgb(147, 106, 25) 0px 0px 20px inset;
  overflow-y: scroll;
}

.tap-wrap{
  padding: 20px;
}


.bg-wrap-s{
  transition: all 0.4s;
  width: 60%;
  max-width: 400px;
  margin: 40px auto 0;
  display: inline-block;
  overflow: hidden;
  background: url('../img/lot/pic_shut.png') no-repeat;
  background-size:100% auto;
  background-position: center center;
}


.bg-wrap-s-1{
  background: url('../img/lot/pic_laugh.png') no-repeat;
  background-size:100% auto;
  background-position: center center;
}

.bg-wrap-s-2{
  background: url('../img/lot/pic_non.png') no-repeat;
  background-size:100% auto;
  background-position: center center;
}

.bg-wrap-s-3{
  background: url('../img/lot/pic_sheng.png') no-repeat;
  background-size:100% auto;
  background-position: center center;
}

.bg-start{
  animation:mymove 3s infinite;
  -webkit-animation:mymove 3s infinite; /*Safari and Chrome*/
}


@keyframes mymove
{
  10% {
    transform: translateY(0) scale(0.1);
  }
  60% {
    transform: translateY(-300px) scale(1);
  }
  100% {
    transform: translateY(-10px) scale(0.5);
  }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
  10% {
    transform: translateY(0) scale(0.1);
  }
  60% {
    transform: translateY(-300px) scale(1);
  }
  100% {
    transform: translateY(-10px) scale(0.5);
  }
}